.original-question {
  background-color: #FFF8DC;
  padding: 10px;
  box-sizing: border-box;
}

.post-editor {
  width: auto;
}

.post-editor .original-question {
  width: auto !important;
}

.post-editor .original-question > .grippie {
  margin-right: 0 !important;
}

.ask-title-table {
  width: 100% !important;
}

/* Remove the awk gap between original editor and live preview */
.post-editor .fl {
  display: none;
}

/* Hide the original markdown previewer: */
.wmd-preview {
  display: none;
}

#title {
  width: 100% !important;
  box-sizing: border-box !important;
}

#mainbar > .form-item > table, .post-editor .form-item > table {
  width: 100% !important;
  margin-bottom: 10px;
}

#sidebar {
  .sidebar-help {
    opacity: 0.4;
  }
  &:hover .sidebar-help {
    opacity: 1;
  }
}

#footer {
  position: relative;
  z-index: 1;
}
