.original-question {
  background-color: #FFF8DC;
  padding: 10px;
  box-sizing: border-box;
}

.post-editor {
  width: auto;
}

.post-editor .original-question {
  width: auto !important;
}

.post-editor .original-question > .grippie {
  margin-right: 0 !important;
}

.ask-title-table {
  width: 100% !important;
}

/* Remove the awk gap between original editor and live preview */
.post-editor .fl {
  display: none;
}

/* Hide the original markdown previewer: */
.wmd-preview {
  display: none;
}

#title {
  width: 100% !important;
  box-sizing: border-box !important;
}

#mainbar > .form-item > table, .post-editor .form-item > table {
  width: auto !important;
  margin-bottom: 10px;
}

.better-editor .CodeMirror {
  font-size: 14px;
  font-family: Consolas,Menlo,Monaco,"Lucida Console","Liberation Mono,DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",monospace,sans-serif;

  position: relative !important;
  box-sizing: border-box;
}

.better-editor .CodeMirror-fullscreen {
  position: fixed !important;
}

.better-editor .editor-statusbar {
  margin-bottom: 5px;
}

.better-editor .editor-toolbar {
  border-radius: 0 !important;
}

.better-editor .editor-preview {
  word-wrap: break-word;
  font-size: 15px;
  line-height: 1.3;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  background-color: white;
}

.better-editor .editor-preview pre {
  padding: 5px;
  background-color: #eff0f1;
}

.better-editor .editor-preview code {
  font-size: 13px;
}
